<div id="<%= dom_id message %>">
  <article class="chat-line">
    <span class="speaker"><%=message.sent_by%> (<%=message.user.email%>)</span>
    <span class="body"><%=message.body%></span>
                                                                                                                                      </article>

</div>
