<h1>New message</h1>

<%= render "form", message: @message %>
  <div data-chat-room="<%=@message.room.name%>">
              </div>
<br>

<div>
  <%= link_to "Back to messages", messages_path %>
</div>
