<h1>Editing textanimation</h1>

<%= render "form", textanimation: @textanimation %>

<br>

<div>
  <%= link_to "Show this textanimation", @textanimation %> |
  <%= link_to "Back to textanimations", textanimations_path %>
</div>
