<div id="<%= dom_id email %>">
  <p>
    <strong>Title:</strong>
    <%= email.title %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= email.email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= email.message_id %>
  </p>

</div>
