<h1>Editing picanimation</h1>

<%= render "form", picanimation: @picanimation %>

<br>

<div>
  <%= link_to "Show this picanimation", @picanimation %> |
  <%= link_to "Back to picanimations", picanimations_path %>
</div>
